@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

#component-container {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  min-width: 230px;
}

.image {
  min-width: 200px;
  height: 225px;
  background-color: gray;
  align-self: flex-start;
  margin: 20px;
  opacity: .25;
}

#tab-container {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  height: 50px;
}

.tab {
  background-color: rgb(222, 224, 226);
  flex-grow: 1;
  text-align: center;
  padding: 15px 60px;
}

.tab:hover {
  color: gray;
  background-color: lightgrey;
  transition: 1s;
  padding-bottom: 1.5px;
}

.tab:active {
  background-color: gray;
  color: ghostwhite;
  opacity: 0.75;
}

.card {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: ghostwhite;
  box-shadow: 2.5px 2.5px 5px lightgrey;
  height: 275px;
  overflow: scroll;
  position: absolute;
  text-align: left;
  width: 70vw;
}

.card h3 {
  padding-top: 65px;
  padding: 20px;
  margin: auto;
}

p {
  color: darkgray;
  font-size: 14px;
}

.first.card {
  z-index: 1;
}

.activeTab {
  background-color:ghostwhite;
  color: black;
  flex-grow: 2;
  padding-bottom: 1.5px;
}

.activeTab:hover {
  background-color: ghostwhite;
  color: black;
}

.activeCard {
  color: black;
  transition: color 2s;
  background-color: ghostwhite;
  z-index: 2;
}

#new-section {
  margin-top: 150px;
}

hr {
  margin-bottom: 30px;
}

#flexi-card-container {
  height: fit-content;
  display: flex;
  width: 80%;
  margin: auto;
  flex-flow: row wrap;
}

.card-div {
  width: 31.5%;
  height: 300px;
  border: 1px solid #DADADF;
  margin: 10px;
  background-color: #DADADF;
}

#div1,
#div7 {
 flex-grow: 2;
}

#div3,
#div4,
#div5 {
  margin: 9px;
}

.card-div h4 {
  background-color: ghostwhite;
  height: 55px;
  margin-top: 0;
  padding-top: 30px;
  padding-left: 20px;
}
