@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

#component-container {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  min-width: 230px;
}

#tab-container {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
}

.tab {
  background-color: ghostwhite;
  flex-grow: 1;
  text-align: center;
  padding: 5px 60px;
}

.tab:hover {
  color: #EEBF92;
  background-color: #7A7978;
  transition: 1s;
  border-bottom: 1.5px solid #F29A48;
  padding-bottom: 1.5px;
}

.tab:active {
  background-color: #000;
  color: #F29A48;
  opacity: 0.75;
}

.card {
  color: ghostwhite;
  background-color: #000;
  box-shadow: 2.5px 2.5px 5px lightgrey;
  height: 250px;
  overflow: scroll;
  position: absolute;
  text-align: center;
  width: 70vw;
}

.card h3 {
  padding-top: 65px;
  padding: 20px;
}

p {
  color: #F29A48;
  font-size: 14px;
}

.first.card {
  z-index: 1;
}

.activeTab {
  background-color: #000;
  border-bottom: 1.5px solid #F29A48;
  color: #F29A48;
  flex-grow: 2;
  padding-bottom: 1.5px;
}

.activeTab:hover {
  background-color: #000;
  color: #F29A48;
}

.activeCard {
  color: #B3B3B3;
  transition: color 2s;
  background-color: #070907;
  z-index: 2;
}
